* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; 
}


body {
  padding-bottom: 100px;
}

.node circle {
    fill: skyblue;
    stroke: black;
    stroke-width: 1.5px;
}

.node text {
    font: 10px sans-serif;
    pointer-events: none;
}

.link {
    fill: none;
    stroke: black;
    stroke-width: 1.5px;
}